* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Vesper Libre", serif;
}

a {
  color: #121212 !important;
  text-align: center;
}

p {
  color: #121212;
  font-weight: normal;
  font-size: 18px;
  line-height: 27px;
  padding-top: 0.3rem;
}

hr {
  width: 100vw;
  margin: 10px 20px;
}

.header-1 {
  color: #121212;
  font-weight: bold;
  line-height: 48px;
  font-size: 60px;
  text-align: center;
}

.header-2 {
  color: #121212;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
}

.icon {
  width: 256px;
  height: 200px;
}

.text-white {
  color: #ffffff;
}

.grid-layout {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-items: center;
  align-items: flex-start;
  grid-gap: 2.5rem;
}

/* input {
  border-style: none;
  background: transparent;
  outline: none;
} */

button {
  padding: 0;
  background: none;
  border: none;
  outline: none;
}

.wrapper {
  max-width: 940px;
  margin: 0 auto;
}

.box {
  text-align: center;
}

.jumbotron {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b8e0c8;
  color: #ffffff;
}

.header-text {
  font-size: 75px;
  line-height: 90px;
  text-align: center;
}

.header-subtext {
  font-size: 24px;
  line-height: 36px;
  text-align: center;
}

.subscribe {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 4em 2em;
  background-color: #f0fff0;
}

.btn-link {
  margin: 32px 0;
  padding: 15px 30px;
  border: 1px solid #000;
  background-color: #b8e0c8;
}

.overview-top,
.overview-bottom {
  padding: 5em 1em;
}

.overview-img {
  max-width: 100%;
  display: block;
  height: auto;
}

.footprint {
  padding: 5em 0;
}

.range {
  max-width: 940px;
  width: 100%;
  height: 8px;
  -webkit-appearance: none;
  background: #b8e0c8;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #007565;
  cursor: pointer;
  border-radius: 50%;
  transition: background 0.15s ease-in-out;
  border: 5px solid #007565;
  z-index: 100;
  box-shadow: -407px 0 0 400px #007565;
}

.box-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.smallbiz {
  padding: 5em 0;
}

.largebiz {
  padding: 5em 0;
}

.download {
  padding: 5em 1em;
}

.top {
  font-size: 1.2rem;
  font-weight: bold;
}

.tree {
  border-top: 5px solid #cdead6;
  margin: 0 30px;
  padding: 7em 0;
}

.chemicals {
  border-top: 5px solid #f8d3ce;
  margin: 0 30px;
  padding: 7em 0;
}

.waste {
  border-top: 5px solid #b78a76;
  margin: 0 30px;
  padding: 7em 0;
}

.water {
  border-top: 5px solid #d2e3fc;
  margin: 0 30px;
  padding: 7em 0;
}

.carbon {
  border-top: 5px solid #ffefc3;
  margin: 0 30px;
  padding: 7em 0;
}

.faq {
  background-color: #bdb5a4;
  padding: 7em 1em;
}

footer {
  color: #fff;
}

.connected {
  background-color: #121212;
  color: #ffffff;
  padding: 5em 1em;
}

.socials {
  background-color: #000000;
  padding: 5em 1em;
}

/* DETAILS */
details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}

@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

details summary {
  width: 100%;
  padding: 0.5rem 0;
  border-bottom: 1px solid#000000;
  position: relative;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 300;
  list-style: none;
}

details summary:after {
  content: "+";
  color: black;
  position: absolute;
  font-size: 1.75rem;
  line-height: 0;
  margin-top: 0.75rem;
  right: 0;
  font-weight: 200;
  transform-origin: center;
  transition: 200ms linear;
}
details[open] summary:after {
  transform: rotate(45deg);
  font-size: 2rem;
}
details summary {
  outline: 0;
}
details p {
  font-size: 0.95rem;
  margin: 0 0 1rem;
  padding-top: 0.3rem;
}

/* INPUT STYLING */
@-webkit-keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes gradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.webflow-style-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 550px;
  height: 30px;
  margin: 0 auto;
  border-radius: 2px;
  padding: 1rem 1rem;
  background: #ffffff;
}

.webflow-style-input:after {
  content: "";
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 999;
  height: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  background-position: 0% 0%;
  background: linear-gradient(
    to right,
    #b294ff,
    #57e6e6,
    #feffb8,
    #57e6e6,
    #b294ff,
    #57e6e6
  );
  background-size: 500% auto;
  -webkit-animation: gradient 3s linear infinite;
  animation: gradient 3s linear infinite;
}

.webflow-style-input input {
  flex-grow: 1;
  color: #121212;
  font-size: 1rem;
  line-height: 2.4rem;
  vertical-align: middle;
}
.webflow-style-input input::-webkit-input-placeholder {
  color: #b8e0c8;
  font-size: 1.2rem;
}

.webflow-style-input button {
  color: #b8e0c8;
  font-size: 2rem;
  line-height: 0.3rem;
  vertical-align: middle;
  transition: color 0.25s;
}
.webflow-style-input button:hover {
  color: #57e6e6;
}

@media only screen and (max-width: 425px) {
  /*Small smartphones [325px -> 425px]*/
  .header-2 {
    font-size: 28px;
    line-height: 33px;
  }

  .subscribe {
    padding: 3rem 2rem;
  }

  .overview-top,
  .overview-bottom {
    padding: 2em;
  }

  .grid-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .box-wrapper {
    flex-direction: column;
    justify-content: space-between;
  }

  .footprint {
    padding: 0 1rem;
  }

  .box-icon {
    width: 90px;
    height: auto;
  }

  .box {
    margin: 3rem auto;
  }
}
